html {
    background-color: #fff;
    height: 100%;
}

body {
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #33658a;
    color: #fff;
    padding: 7px;
    text-align: center;
}

h1 {
    font-size: 48px;
}

.search-section {
    float: left;
    width: 400px;
    min-height: 600px;
    border-radius: 8px;
    border: solid #ccc 1px;
    background-color: #f3f3f3;
    margin: 10px;
    padding: 10px;
}

.btn {
    color: #fff;
    background-color: #f6ae2d;
    border-color: #f6ae2d;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #f26419;
    border-color: #f26419;
}

.city-stats {
    min-height: 350px;
    border: solid #ccc 1px;
    overflow: hidden;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
}

#current-city{
    white-space: nowrap;
    display: inline;
}

.city-stats div{
    color: #555;
    margin: 15px 0;
}

#current-sky-icon {
    display: inline;
    height: 65px; 
    margin-bottom: 10px;
}

#current-uv-value {
    padding: 0 3px;
    color: white;
}

.very-low-uv {
    border: solid 1px #00a2ff;
    border-radius: 4px;
    background-color: #00a2ff;
}

.low-uv {
    border: solid 1px #00be00;
    border-radius: 4px;
    background-color: #00be00;
}

.moderate-uv {
    border: solid 1px #c97200;
    border-radius: 4px;
    background-color: #c97200;
}

.high-uv {
    border: solid 1px red;
    border-radius: 4px;
    background-color: red;
}

.very-high-uv {
    border: solid 1px #ff00aa;
    border-radius: 4px;
    background-color: #ff00aa;
}

#forecast-header {
    overflow: hidden;
    text-align: left;
    height: 40px;
    margin: 0;
}

#city-5-day {
    min-height: 190px;
    margin: 10px;
}

.day {
    background-color: #758e4f;
    height: 190px;
    float: left;
    margin: 0;
    min-width: 125px;
    border-radius: 8px;
}

#one {
    margin-right: 5px;    
}

.mid {
    margin: 0 5px;
}

#five {
    margin-left: 5px;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

@media screen and (max-width: 1095px) {
    .search-section {
        min-height: 350px;
    }
    #forecast-header {
        margin-left: 10px;
    }
    .hidden {
        display: none;
    }
}

@media screen and (max-width: 685px) {
    .search-section {
        width: 100%;
        margin: 10px 0;
    }
    #forecast-header {
        text-align: center;
    }
    #city-5-day {
        flex-direction: column;
    }
    .day {
        height: 100px;
        margin: 0;
        width: 100%;
    }
    #one {
        margin: 0 0 5px 0;    
    }
    
    .mid {
        margin: 5px 0;
    }
    
    #five {
        margin: 5px 0 0 0;
    }
    .hidden {
        display: none;
    }
}