html {
    background-color: #fff;
    height: 100%;
}

body {
    box-sizing: border-box;
}

header {
    width: 100%;
    background-image: linear-gradient(to right, #33658a, #274e6b);
    color: #fff;
    padding: 7px;
    text-align: center;
}

h1 {
    font-size: 48px;
}

.search-section {
    float: left;
    width: 400px;
    min-height: 600px;
    border-radius: 8px;
    border: solid #ccc 1px;
    background-color: #f3f3f3;
    margin: 10px;
    padding: 10px;
}

#search-btn {
    color: #fff;
    background-color: #357266;
    border-color: #357266;
}

#search-btn:hover {
    color: #fff;
    background-color: #0E3B43;
    border-color: #0E3B43;
}

.search-history-btn {
    color: #fff;
    background-image: linear-gradient(to right, #574D68, #473f53);   
}

.search-history-btn:hover {
    color: #fff;
    background-color: #0E3B43;
    border-color: #0E3B43;
}

.search-history-btn:active {
    color: #fff;
    background-color: #0E3B43;
    border-color: #0E3B43;
}

.city-stats {
    min-height: 350px;
    border: solid #ccc 1px;
    overflow: hidden;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
}

#current-city{
    white-space: nowrap;
    display: inline;
}

.city-stats div{
    color: #555;
    margin: 15px 0;
}

#current-sky-icon {
    display: inline;
    height: 65px; 
    margin-bottom: 10px;
}

#current-uv {
    white-space: nowrap;
    display: inline;
}

#current-uv-value {
    padding: 0 3px;
    color: white;
    display: inline;
}

.very-low-uv {
    border: solid 1px #00a2ff;
    border-radius: 4px;
    background-color: #00a2ff;
}

.low-uv {
    border: solid 1px #00be00;
    border-radius: 4px;
    background-color: #00be00;
}

.moderate-uv {
    border: solid 1px #c97200;
    border-radius: 4px;
    background-color: #c97200;
}

.high-uv {
    border: solid 1px red;
    border-radius: 4px;
    background-color: red;
}

.very-high-uv {
    border: solid 1px #ff00aa;
    border-radius: 4px;
    background-color: #ff00aa;
}

#forecast-header {
    overflow: hidden;
    text-align: left;
    height: 40px;
    margin: 0;
}

.inline-block {
    display: inline-block;
}

#container {
    min-height: 190px;
    margin: 10px;
    width: 665px;
    justify-content: space-between;
}

.day {
    background-image: linear-gradient(#357266, #2d6157);
    height: 190px;
    float: left;
    margin: 0;
    min-width: 125px;
    border-radius: 8px;
    padding: 5px;
}

.forecast-date {
    color: white;
}

.forecast-icon {
    height: 55px;
}

.forecast-temp {
    color: white;
}

.forecast-humidity {
    color: white;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

@media screen and (max-width: 1095px) {
    .search-section {
        min-height: 350px;
    }
    #forecast-header {
        margin-left: 10px;
    }
    .hidden {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .search-section {
        width: 100%;
        margin: 10px 0;
    }
    #forecast-header {
        text-align: center;
    }
    #container {
        flex-direction: column;
        height: 540px;
        width: auto;
        justify-content: space-between;
    }
    .inline-block{
        display: block;
    }
    .day {
        height: 100px;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .forecast-date {
        margin: 5px;
    }

    .forecast-temp {
        margin: 0 5px 0 15px;
    }

    .forecast-humidity {
        margin: 5px;
    }
    .hidden {
        display: none;
    }
    [id="1"] {
        margin: 0;    
    }
    
    .mid {
        margin: 0;
    }
    
    [id="5"] {
        margin: 0;
    }
}